In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

In [2]:
spark = (
    SparkSession.builder
    .appName("Job-Debugging-Example")
    .master("spark://spark-master:7077")
    .config("spark.driver.host", "jupyterlab")
    .config("spark.ui.port", "4040")
    .config("spark.driver.memory", "2g")
    .config("spark.executor.cores", "1")
    .config("spark.executor.memory", "4g")
    .getOrCreate()
)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/06/23 10:43:35 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
data = [("James", "Sales", 3000), ("Michael", "Sales", 4600),
        ("Robert", "Sales", 4100), ("Maria", "Finance", 3000),
        ("James", "Sales", 3000), ("Scott", "Finance", 3300),
        ("Jen", "Finance", 3900), ("Jeff", "Marketing", 3000),
        ("Kumar", "Marketing", 2000), ("Saif", "Sales", 4100)]
columns = ["employee_name", "department", "salary"]
df = spark.createDataFrame(data, columns)

In [4]:
high_earners = df.filter(col("salary") > 3500)

In [5]:
spark.sparkContext.setJobDescription("Displaying high earners (salary > 3500)")

In [6]:
high_earners.show()

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|      Michael|     Sales|  4600|
|       Robert|     Sales|  4100|
|          Jen|   Finance|  3900|
|         Saif|     Sales|  4100|
+-------------+----------+------+

In [7]:
department_counts = df.groupBy("department").count()
spark.sparkContext.setJobDescription("Calculating and showing department counts")
department_counts.show()

+----------+-----+
|department|count|
+----------+-----+
|     Sales|    5|
|   Finance|    3|
| Marketing|    2|
+----------+-----+

In [12]:
spark.stop()